<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title if title else 'Administración de Turnos' }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    <header>
        <h1>{{ title if title else 'Administración de Turnos' }}</h1>
    </header>
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
